html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html { /* Perfect Full Screen Background Image */
    background: url(berge.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

span.card-title {
    text-decoration: underline;
}

p.notification-text {
    font-size: 1.8em;
}

p.time {
    font-size: 0.9em;
    text-align: right;
}

div.row {
    margin-bottom: 0;
}

div.testtttttttt {
    padding-left: 0;
    padding-right: 0;
}